## EDA on Hashtags

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns; sns.set()
%matplotlib inline
# packages for NLP preprocessing
import nltk
from sklearn.feature_extraction import text 
from nltk.stem import WordNetLemmatizer 
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import pickle

In [2]:
# importing raw tweets before they were cleaned
raw_df = pd.read_pickle('../pickle/raw_tweets_df.pkl')

In [3]:
raw_df.head()

,total_votes,hate_speech_votes,other_votes,label,tweet
0,3,0,3,0,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,3,0,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

## Filtering Out Hashtags From Raw Tweets

In [4]:
raw_df['hashtags'] = raw_df['tweet'].str.extract('(#[\w]+)', expand=False).str.strip()

In [5]:
raw_df.head()

,total_votes,hate_speech_votes,other_votes,label,tweet,hashtags
0,3,0,3,0,!!! RT @mayasolovely: As a woman you shouldn't...,NaN
1,3,0,3,0,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,NaN
2,3,0,3,0,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,NaN
3,3,0,3,0,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,NaN
4,6,0,6,0,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,#57361